.menu-section {
    background-image: url('../../assets/images/mainbg.png');
    background-size: cover;
    background-position: center;
    padding: 20px;
    
}

.menu-footer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
