.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: white;
}

.header-logo img {
  height: 30px;
  cursor: pointer;
}

.header-nav {
  display: flex;
  gap: 20px;
  width: 90%;
  justify-content: flex-end;
}

.nav-link {
  color: #28224B;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #35B8BE;
}

.logout-btn {
  background: none;
  border: none;
  padding: 0;
  color: #28224B;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}

.logout-btn:hover {
  color: #35B8BE;
}

.header-cart {
  position: relative;
  cursor: pointer;
}

.header-cart img {
  height: 25px;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: white;
  color: #35B8BE;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 12px;
  font-weight: bold;
}
