.cosmonauts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto -155px;
  padding-top: 30px;
  width: 310px;
  height: 310px;
}

.cosmonaut-image {
  width: 100%;
  height: auto;
  transition: transform 1.5s ease-in-out;
}

.cosmonaut-image:hover {
  transform: rotate(720deg);
}
